@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #7d7fd8;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #dd2727;
}

#column-2 {
  background: #c5e60e;
}

#column-3 {
  background: #47b97b;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #c30ce7;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #006dcc;
  }

  #column-1 {
    background-color:#4dacff ;
  }

  #column-2 {
    background-color: #b3dbff ;
  }

  #column-3 {
    background-color:#82a2be ;
    width: 100%; /*Set one column to 100% width to fill the space*/
  }

  footer {
    background-color: #11d7f1 ;
  }

  .col-3{
    width: 50%; /*Change the width to 50% for tablet screen */
    height: 320px;
    float: left;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color:#ffe6f2;
  }

  #column-1 {
    background-color:#ff99ca ;
  }

  #column-2 {
    background-color:#ff3396 ;
  }

  #column-3 {
    background-color:#99004a ;
    width: 33.33%;
  }

  footer {
    background-color:#4d0025 ;
  }
  
  .col-3 {
    width: 33.33%; /*change width to 33.33% for desktop screens*/
    height: 320px;
    float: left;
    box-sizing: border-box; /* Include padding and borders in the width calculation */
    padding: 0px;
    margin: 0px;
  }
   
}
